<h2 class="text-center">Hero List</h2>
<div class="text-center">
  <label ng-init="getPowers()" for="sortBy">Sort By Power:</label>
  <select name="power_name" ng-model="sortBy">
      <option ng-repeat="power in powers" value={{power.power_name}}>{{power.power_name}}</option>
  </select>
</div>
<div class="col-md-8 col-md-offset-2 favorites container-fluid" ng-repeat="hero in heroes | orderBy: 'sortBy'">
    <div class="text-center">
        <h3>{{hero.alias}}</h3>
        <p>First Name: {{hero.first_name}}</p>
        <p>Last Name: {{hero.last_name}}</p>
        <p>City: {{hero.city}}</p>
        <p>Power: {{hero.power_name}}</p>
        <button class="submit btn btn-primary" ng-click="deleteHero(hero._id)">Delete Hero</button>
    </div>
</div>
